@media (min-width:761px){
    .card_content h1{
        font-size: 30px;
    }
}
@media (max-width:768px){
    .main {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 270px;
        margin: 3vh auto;    
        box-shadow: 1px 1px 5px black;
        border-radius: 3px;
        background-color: transparent;    
    }
    .main_card {
        position: relative;
        display: flex;
        width: 80vw;
        height: 270px;
        background-color: transparent;    
    }
    .card {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 80vw;
        height: 270px;
        justify-content: center;    
        border-radius: 4px;
    }
    .card_content {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 70vw;
        height: 200px;
        gap: 10px;             
    }   
    .card_content h1{
        font-size: 25px;
    } 
    .button {
        display: flex;
        flex-direction: column;
        background-color: rgb(9, 113, 117);
        border-radius: 20px;
        max-width: 20vw;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 6px;
        margin: 4px;
        transition: 0.3s ease-in;
        box-shadow: 2px 1px 5px #000;
    }
    .menu {
        position: absolute;
        display: flex;
        right: 15px;
        bottom: 15px;
        gap: 20px;
    }

    /* Ativar Cards */
    .card_index{
        background-color: #fff;
        clip-path: circle(0% at 500px 350px);
        transition: 2s ease;
        transition-delay: .3s; 
    }
    .card_instagram{
        background-color: #C13584;
        clip-path: circle(0% at 500px 350px );
        transition: 2s ease;
        transition-delay: .3s; 
    }

    .card_linkedin{
        background-color: #0e76a8;
        clip-path: circle(0% at 500px 350px );
        transition: 2s ease;
        transition-delay: .3s; 
    }

    .card_github{
        background-color: #171515;
        clip-path: circle(0% at 500px 350px);
        transition: 2s ease;
        transition-delay: .3s; 
    }
    .card-active{
        clip-path: circle(130%);
        transition-delay: -0.1s;       
    }
    
    .main_card img.what {
        position: absolute;
        display: flex;
        top: 35px;
        right: 35px;
    }
}
@media (max-width:480px){
    .main {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 50vh;   
        margin: 5px auto;    
        box-shadow: 1px 1px 5px black;
        border-radius: 3px;
        background-color: transparent;
           
    }
    .main_card {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: transparent;  
          
    }
    .card {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;    
        border-radius: 4px;
    }
    .card_content {
        display: flex;
        flex-direction: column;
        margin: 10 auto;
        width: 70vw;
        height: 100%;        
    }
    .card_content h1{
        font-size: 25px;
    } 
    .menu {
        
        display: flex;
        right: 15px;
        bottom: 15px;
        gap: 3vw;
    }
    .button{
        max-width: 200px;
    }
    .main_card img.what {
        position: absolute;
        display: flex;
        top: 35px;
        right: 35px;
    }
    
    /* Ativar Cards */
    .card_index{
        background-color: #fff;
        clip-path: circle(0% at 400px 350px);
        transition: 2s ease;
        transition-delay: .5s; 
    }
    .card_instagram{
        background-color: #C13584;
        clip-path: circle(0% at 400px 350px );
        transition: 2s ease;
        transition-delay: .5s; 
    }

    .card_linkedin{
        background-color: #0e76a8;
        clip-path: circle(0% at 400px 350px );
        transition: 2s ease;
        transition-delay: .5s; 
    }

    .card_github{
        background-color: #171515;
        clip-path: circle(0% at 400px 350px);
        transition: 2s ease;
        transition-delay: .5s; 
    }
    .card-active{
        clip-path: circle(130%);
        transition-delay: -0.1s;       
    }
}